$soziales: #db4453;
$soziales-h: #f15b66;

$aussen: #ff8000;
$aussen-h: #ff9627;

$bildung: #5d9cec;
$bildung-h: #72b1ff;

$digitales: #967bdc;
$digitales-h: #a88ff2;

$einwanderung: #79a1ad;
$einwanderung-h: #8eb7c3;

$gesellschaft: #d870ad;
$gesellschaft-h: #ed85c3;

$gesundheit: #36bc9b;
$gesundheit-h: #4dd3b2;

$infrastruktur: #455c7b;
$infrastruktur-h: #566f8f;

$inneres: #ff8066;
$inneres-h: #ff9579;

$sicherheit: #4fc0e8;
$sicherheit-h: #6ad7ff;

$umwelt: #8cc051;
$umwelt-h: #9ed566;

$wirtschaft: #f6bb43;
$wirtschaft-h: #ffd15b;