.result-category-chart,
.result-party-chart {
  display: flex;
  flex-wrap: wrap;
}

.result-category-chart__item,
.result-party-chart__item {
  margin: 20px;
  width: 100px;
  text-align: center;
}

.result-party-chart__selection {
  display: flex;
}

.category-selection__button,
.result-party-chart__selection__item {
  cursor: pointer;
}

.result-party-chart__selection__item--active,
.result-party-chart__selection__item--active:focus,
.result-party-chart__selection__item--active:hover,
.category-selection__button--active,
.category-selection__button--active:focus,
.category-selection__button--active:hover {
  border-bottom: 2px solid red;
}