$break: 880px;

.no-button,
.no-button:hover,
.no-button:focus,
.no-button:active {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

@import 'normalize';
@import 'chart';
@import 'test';
@import 'result';

button > * {
  pointer-events: none;
}