
.test-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;

  @media (min-width: $break) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.test-container__wrap {
  margin: 2%;
  display: flex;
  flex-direction: column;
  min-height: 270px;
  
  @media (min-width: $break) {
    width: 100%;
  }
}

.test-container__item {
  flex: 1;
  border-radius: 4px;
  padding: 2rem;
}

.test-buttons {
  display: flex;
  margin-top: 1rem;
}

button.test-button {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 700;
  padding: 1rem 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: white;
  background-color: #006c8b;
  border-radius: 4px;
  text-align: center;
  margin-right: 0.3rem;

  &.skip {
    background-color: rgba(56, 116, 179, 0.5);
  }

  &:hover {
    cursor: pointer;
    background-color: #11366d;
  }
}